<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ondoctor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".warts"></activity>
        <activity android:name=".rosacea" />
        <activity android:name=".psoriasis" />
        <activity android:name=".acne" />
        <activity android:name=".eczema" />
        <activity android:name=".hearingloss" />
        <activity android:name=".sleepapnea" />
        <activity android:name=".allergies" />
        <activity android:name=".sinusinfection" />
        <activity android:name=".earinfection" />
        <activity android:name=".trauma" />
        <activity android:name=".hemicrania" />
        <activity android:name=".hypnicheadache" />
        <activity android:name=".primarycluster" />
        <activity android:name=".migrain" />
        <activity android:name=".gastroenteritis" />
        <activity android:name=".pancreatitis" />
        <activity android:name=".ulcers" />
        <activity android:name=".irritablebowel" />
        <activity android:name=".appendicitis" />
        <activity android:name=".sportinjury" />
        <activity android:name=".shoulderpain" />
        <activity android:name=".backpain" />
        <activity android:name=".softtissue" />
        <activity android:name=".bonefracture" />
        <activity android:name=".periodicfever" />
        <activity android:name=".septicfever" />
        <activity android:name=".intermittent" />
        <activity android:name=".ebsteinfever" />
        <activity android:name=".remittentfever" />
        <activity android:name=".corona" />
        <activity android:name=".vitiligo" />
        <activity android:name=".card6" />
        <activity android:name=".tonsillitis" />
        <activity android:name=".card5" />
        <activity android:name=".constipation" />
        <activity android:name=".continuousfever" />
        <activity android:name=".primarytension" />
        <activity android:name=".card4" />
        <activity android:name=".joints" />
        <activity android:name=".card3" />
        <activity android:name=".card2" />
        <activity android:name=".card1" />
        <activity android:name=".Homescreen" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>